{
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "avoid",
  "semi": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
